/* CSS declarations go here */
@base-color      : #411485;
@primary  : mix(@base-color, mediumvioletred);
@secondary : mix(@base-color, lightseagreen);
@tertiary  : mix(@base-color, mintcream);

.SearchSpace
{

	border: 1px solid @primary;
	border-top-width: 20px;
	border-radius: 5px;

	margin: 20px ;

	float: left;

	.SortButton
	{
		display: block;
	    width: 100px;

	    margin: 20px auto;
	    background-color: @primary ;
    	border-color: @tertiary;
	}
}