/* CSS declarations go here */
@base-color      : #411485;
@primary  : mix(@base-color, mediumvioletred);
@secondary : mix(@base-color, lightseagreen);
@tertiary  : mix(@base-color, mintcream);

/*Style for an individual result*/
.Result
{
	border: 1px solid @primary;
	border-top-width: 20px;
	border-radius: 5px;

	margin: 20px ;

	float: left;

	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;

	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;

	/*Hover effect*/
	&:hover
	{		

		margin: 10px ;

	  -moz-box-shadow:    3px 3px 5px 6px #777;
	  -webkit-box-shadow: 3px 3px 5px 6px #777;
	  box-shadow:         3px 3px 5px 6px #777;
		-webkit-transition: all 1s; /* Safari */
    	transition: all 1s;
	}

	/*Space for each Hotels Image*/
	.ResultImageSpace
	{
		/*add some margin above and below*/
		margin: 20px 0;

		.ResultImage
		{
			/*Scale image by its width*/
			max-width: 100%;
		}
	}
					
}
